# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.sln
*.vcxproj
*.filters
*.user
*.idb
*.log
*.ilk
*.recipe
*.tlog
*.opendb
*.db-wal
*.db-shm
*.db
*.suo
*.ipch
*.lock
*.vsidx
*.json
*.sqlite
/임진혁/1-3/x64/Debug/_IsIncrementalBuild
*.enc
